
<h1>Dashboard</h1>
<h3>Welcome to your POD registrations</h3>
<a href="/create_pod" class="add-pod">Add POD</a>

{{#if deliveryData}}
  <table>
    <thead>
      <tr>
        <th>Date</th>
        <th>Client</th>
        <th>Description</th>
        <th>Actions</th> <!-- New column for actions -->
      </tr>
    </thead>
    <tbody>
      {{#each deliveryData}}
        <tr>
          <td>{{formatDate this.date}}</td>
          <td>{{this.client}}</td>
          <td>{{this.description}}</td>
          <td>
            <a href="/edit_pod/{{this.id}}" class="edit-pod"><i class="fas fa-pen"></i></a> |
            <a href="/delete_pod/{{id}}"><i class="fas fa-trash-alt"></i></a> 
            
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{else}}
  <p>No POD entries available</p>
  <table>
    <thead>
      <tr>
        <th>Date</th>
        <th>Client</th>
        <th>Description</th>
        <th>Actions</th> <!-- New column for actions -->
      </tr>
    </thead>
{{/if}}

<script>
  // Attach event listener to the edit buttons
  const editLinks = document.querySelectorAll('.edit-pod');
  editLinks.forEach(link => {
    link.addEventListener('click', event => {
      event.preventDefault();
      const podId = link.getAttribute('href').split('/').pop();
      window.location.href = `/edit_pod/${podId}`;
    });
  });

</script>



